@media only screen and (max-width:768px) {
  .textanimate{
    font-size: 30px;
  }


  #exptext{
    margin: 0px;
    padding:5px;
  }

  #rulebox{
    width: 100%;
    padding-left:0px;
    margin:0px;
    padding: 2px;
    font-size: 15px;
  }

}
